---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
import WideButton from "../components/WideButton.astro";
const pageTitle = "Snoodev | Few projects we've done so far";
const allProjects = await Astro.glob("./portfolio/*.md");

const projects = {
  name: "",
  description: "",
  url: "",
  image: "",
};
---

<Layout title={pageTitle}>
  <header>
    <h1>Few projects we've done so far</h1>
  </header>

  <main>
    <Form />

    <div data-aos="fade-right">
      {
        allProjects.map((project) => (
          <div>
            <a href={project.frontmatter.url}>
              <figure>
                <img
                  src={project.frontmatter.image.url}
                  alt={project.frontmatter.image.alt}
                />
                <figcaption>
                  <>
                    <h4>{project.frontmatter.name}</h4>
                    <p>{project.frontmatter.description}</p>
                  </>
                </figcaption>
              </figure>
            </a>
          </div>
        ))
      }
    </div>
  </main>
  <div data-aos="fade-right">
    <WideButton />
  </div>
</Layout>

<style>
  header {
    text-align: center;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  main a {
    box-shadow: none;
    font-weight: 200;
    text-decoration: none;
    transition: none;
  }

  main a:hover {
    box-shadow: none;
    border-radius: 0px;
    color: var(--color-link);
    text-decoration: none;
    transform: scale(1);
  }

  h1 {
    margin: 0;
  }

  h3 {
    margin-bottom: 2em;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  img {
    width: fit-content;
    border-radius: 20px;
    margin-bottom: 1rem;
  }

  figure {
    border: 2px solid var(--color-text);
    padding: 5%;
    border-radius: var(--border-radius);
    background-color: var(--color-bg);
    margin-bottom: 2em;
  }

  figure:hover {
    animation: doubleCard 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes doubleCard {
    from {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }

    to {
      box-shadow: 10px 10px 0px 0px var(--color-shadow);
      -webkit-box-shadow: 10px 10px 0px 0px var(--color-shadow);
      -moz-box-shadow: 10px 10px 0px 0px var(--color-shadow);
    }
  }

  figure:not(:hover) {
    animation: doubleCardRemove 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes doubleCardRemove {
    from {
      box-shadow: 10px 10px 0px 0px var(--color-shadow);
      -webkit-box-shadow: 10px 10px 0px 0px var(--color-shadow);
      -moz-box-shadow: 10px 10px 0px 0px var(--color-shadow);
    }

    to {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }
  }

  figure a {
    box-shadow: none;
    font-weight: 200;
    text-decoration: none;
    transition: none;
  }

  figure a:hover {
    box-shadow: none;
    border-radius: 0px;
    color: var(--color-link);
    text-decoration: none;
    transform: scale(1);
  }

  @media only screen and (max-width: 768px) {

    figure a {
      text-decoration: underline;
    }
  }
</style>

<script>
  import AOS from "aos";
  import "aos/dist/aos.css";
  AOS.init();
</script>
